/*
  0. Before the css reset, let's set various css variables
*/
:root {
  /* --violet: #817c91; Removed because contrast is too low with #fff as the background */
  --violet: #5a5766;
  --blanc: #ffffff;
  --color: var(--violet);
  --color-alt: var(--blanc);
  --background: var(--blanc);
  --border: 1px solid var(--color);

  /* Paddings */
  --p: 50px;
  --p-left: var(--p);

  /* Sizes */
  --header-height: 100px;
  --aside-width: 300px;
}

@media (min-width: 1200px) {
  :root {
    --aside-width: 400px;
  }
}
@media (max-width: 768px) {
  :root {
    --p: 25px;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  10. And now custom styles :) 
*/
::-moz-selection {
  color: var(--background);
  background: var(--color);
}

::selection {
  color: var(--background);
  background: var(--color);
}

pre {
  font-family: "Fira Code", monospace;
  font-size: 1.25em;
  line-height: 1.175em;
  padding: calc(var(--p) / 2);
  margin: 1em auto;
  border: var(--border);
  border-radius: 4px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  color: var(--color);
  background: var(--background);
  display: grid;
  grid-template-columns: [left] auto [aside] var(--aside-width) [right];
  grid-template-rows: [header] var(--header-height) [main] auto [bottom];
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--blanc);
    --color-alt: var(--violet);
    --background: var(--violet);
  }
}

.main ul {
  line-height: 1em;
}

.main p {
  line-height: 1.5em;
}

main p,
main ul {
  font-size: 1.25em;
  margin-bottom: 1em;
}

main li:before {
  content: "_ ";
  padding-right: 0.5em;
}

main ul {
  margin: 0 auto 1em 0;
}
main li {
  margin: 0.5em 0 0 0;
}

.introduction {
  margin: 1em 0 2em 0;
}

.introduction p,
.introduction ul {
  font-size: 1.5em;
  line-height: 1.5em;
}

header {
  font-size: 2em;
  grid-column: left / aside;
  grid-row: header / main;
  border-bottom: 1px solid var(--color);
  display: flex;
  align-items: center;
  padding-left: var(--p-left);
  font-weight: 300;
}

header a {
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    min-height: var(--header-height);
  }
}

aside:empty {
  display: none;
}

@media (min-width: 768px) {
  aside {
    border-left: var(--border);
    grid-column: aside / right;
    grid-row: main / bottom;
    padding-left: calc(var(--p) / 2);
    padding-top: var(--p);
  }
}

@media (max-width: 768px) {
  aside {
    padding: var(--p);
    border-bottom: var(--border);
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
}

nav span {
  width: 20px;
  height: 1px;
  display: inline-block;
  margin: 0 10px;
  background: var(--color);
}

main {
  grid-row: main / bottom;
  grid-column: left / aside;
  padding: var(--p);
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

footer {
  grid-column: aside / right;
  grid-row: header / main;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 2em;
}
@media (max-width: 768px) {
  footer {
    border-top: var(--border);
    min-height: var(--header-height);
  }
}

@media (min-width: 768px) {
  footer {
    border-bottom: var(--border);
    border-left: var(--border);
  }
}

footer a {
  text-transform: uppercase;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 1rem 0;
  line-height: 1em;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

a {
  color: var(--color);
}

main a {
  position: relative;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

main a:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0.8em;
  height: 0.6em;
  background: var(--color);
  opacity: 0.3;
  transition: 0.25s;
}

main a:hover {
  color: var(--color-alt);
}

main a:hover:after {
  top: 0;
  bottom: 0;
  height: 1.25em;
  opacity: 1;
}
