:root {
  --violet: #817c91;
  --blanc: #ffffff;
  --color: var(--violet);
  --color-alt: var(--blanc);
  --background: var(--blanc);

  /* Paddings */
  --p: 50px;
  --p-left: var(--p);
}

::-moz-selection {
  color: var(--background);
  background: var(--color);
}

::selection {
  color: var(--background);
  background: var(--color);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  color: var(--color);
  background: var(--background);
  display: grid;
  grid-template-columns: [left] auto [aside] 300px [right];
  grid-template-rows: [header] 100px [main] auto [bottom];
  min-height: 100vh;
}

p {
  font-size: 1.5em;
  margin-top: auto;
}

header {
  font-size: 2em;
  grid-column: left / aside;
  grid-row: header / main;
  outline: 1px solid var(--color);
  display: flex;
  align-items: center;
  padding-left: var(--p-left);
  font-weight: 300;
}

aside {
  border-left: 1px solid var(--color);
  border-top: 1px solid var(--color);
  grid-column: aside / right;
  grid-row: main / bottom;
}

main {
  grid-row: main / bottom;
  grid-column: left / aside;
  padding: var(--p);
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5em;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--color);
  position: relative;
  transition: 0.25s ease-in-out;
}

a:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0.75em;
  height: 20px;
  background: var(--color);
  opacity: 0.3;
  transition: 0.25s ease-in-out;
}

a:hover {
  color: var(--color-alt);
}

a:hover:after {
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 1;
}
