:root {
  /* --violet: #817c91; Removed because contrast is too low with #fff as the background */
  --violet: #5a5766;
  --blanc: #ffffff;
  --color: var(--violet);
  --color-alt: var(--blanc);
  --background: var(--blanc);
  --border: 1px solid var(--color);

  /* Paddings */
  --p: 50px;
  --p-left: var(--p);

  /* Sizes */
  --header-height: 100px;
  --aside-width: 300px;
}

@media (max-width: 768px) {
  :root {
    --p: 25px;
  }
}

::-moz-selection {
  color: var(--background);
  background: var(--color);
}

::selection {
  color: var(--background);
  background: var(--color);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  color: var(--color);
  background: var(--background);
  display: grid;
  grid-template-columns: [left] auto [aside] var(--aside-width) [right];
  grid-template-rows: [header] var(--header-height) [main] auto [bottom];
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--blanc);
    --color-alt: var(--violet);
    --background: var(--violet);
  }
}

p {
  font-size: 1.5em;
  margin-top: auto;
}

header {
  font-size: 2em;
  grid-column: left / aside;
  grid-row: header / main;
  outline: 1px solid var(--color);
  display: flex;
  align-items: center;
  padding-left: var(--p-left);
  font-weight: 300;
}

@media (max-width: 768px) {
  header {
    height: var(--header-height);
  }
}

@media (min-width: 768px) {
  aside {
    border-left: var(--border);
    border-top: var(--border);
    grid-column: aside / right;
    grid-row: main / bottom;
  }
}

@media (max-width: 768px) {
  aside {
    padding: var(--p);
    border-bottom: var(--border);
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

main {
  grid-row: main / bottom;
  grid-column: left / aside;
  padding: var(--p);
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

h1 {
  font-size: 5em;
  font-weight: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

a {
  text-decoration: none;
  color: var(--color);
  position: relative;
  transition: 0.25s ease-in-out;
}

a:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0.8em;
  height: 0.6em;
  background: var(--color);
  opacity: 0.3;
  transition: 0.25s;
}

a:hover {
  color: var(--color-alt);
}

a:hover:after {
  top: 0;
  bottom: 0;
  height: 1.25em;
  opacity: 1;
}
