<!DOCTYPE html>
<html>
  <head>
    <title>Bonjour 🎈</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe



    }}">
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <script>
      (function () {
        window.__bast__website_id = 9;
        window.__bast__trackerUrl =
          "https://bast-prod.herokuapp.com/ghost.png";

        var doNotTrack =
          (navigator.doNotTrack && navigator.doNotTrack === "1") ||
          navigator.doNotTrack === "yes";

        if (doNotTrack) {
          return;
        }

        var script = document.createElement("script");
        script.src = "https://bast-prod.herokuapp.com/script.js";
        script.async = false;
        document.head.appendChild(script);
      })();
    </script>
  </head>
  <body>
    <header>Fabien Le Frapper, développeur indépendant</header>
    <aside></aside>
    <main>
      <h1>Bonjour.</h1>
      <p>
        Le coordonnier étant toujours le plus mal chaussé, ce site ne verra le
        jour que dans quelques semaines. En attendant, vous pouvez retrouver mon
        code sur
        <a href="https://github.com/fabienheureux">github</a>
      </p>
    </main>
  </body>
</html>
