<!DOCTYPE html>
<html>
  <head>
    <title>Bonjour 🎈</title>
    <meta
      name="description"
      content="Fabien Le Frapper's personal website. Code, React, Django, Python, Typescript."
    />
    <meta name="author" content="Fabien Le Frapper" />
    <meta property="og:title" content="Bonjour 🎈" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fabien.cool" />
    <meta
      property="og:description"
      content="Fabien Le Frapper's personal website. Code, React, Django, Python, Typescript."
    />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe


    }}">
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>Fabien Le Frapper</header>
    <aside></aside>
    <main>
      <h1>Bonjour.</h1>
      <p>
        I am a French <i>fullstack</i> web <strong>developper</strong>. I write
        some code since I discovered the <i>view source</i> feature of Internet
        Explorer when I was a kid.
        <br />
        <br />
        Using Python and JavaScript, I try to help companies, non-profit, NGOs
        to ship quality software.
        <br />
        I currently work full-time with
        <a href="https://letabli.io">L'établi</a> et
        <a href="https://astrolabe.coop">L'astrolabe</a>.
        <br />
        <br />
        I contribute to
        <a
          href="https://github.com/wagtail/wagtail"
          target="_blank"
          rel="noreferrer noopener"
          >various</a
        >
        <a
          href="https://github.com/GrappleGQL/wagtail-grapple"
          target="_blank"
          rel="noreferrer noopener"
          >open source</a
        >
        <a
          href="https://github.com/vercel/next.js/"
          target="_blank"
          rel="noreferrer noopener"
          >projects</a
        >.
        <br />
        You can find some of my code on
        <a href="https://github.com/fabienheureux">github</a>.
        <br />
        <br />
        Feel free to <a href="mailto:contact@fabienlefrapper.me">reach out</a>
      </p>
    </main>
  </body>
</html>
