{% extends "index.html" %}

{% block nav %}
{% endblock %}

{% block content %}
<article>
      <h1>{{ page.title }}</h1>
      <small>{{ page.date }}</small>
      <div class="introduction">
            <p>{{ page.description|safe }}</p>
      </div>
      </p>{{ page.content|safe }}</p>
</article>
{% endblock content %}

{% block footer %}
{% if lang == "fr" %}
  <a href="/" title="Retour à l'accueil">../</a>
{% else %}
    <a href="/" title="Back to the homepage">../</a>
{% endif %}
{% endblock %}
